services:
  - type: web
    name: phishing-detector
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.inference_api:app --host 0.0.0.0 --port 10000
    envVars:
      - key: PORT
        value: 10000
    plan: free
    domains:
      - name: st-phishing-detector.com
        type: primary
models/
